.tourDIY{
	width: 100vw;
	background: #fff;
	padding-bottom: 15vw;
}
.tourDIYTop{
	width: 100%;
	height: 30px;
}
.tourDIYSwiper{
	width: 100%;
	padding: 3vw 3%;
	
}
.tourDIYSwiper img{
	width: 100%;
	height: 55vw;
}
.tourTitle{
	width: 100%;
	padding: 2vw 4%;
	border-bottom: 1px solid #eee;
}
.tourTitleText{
	width: 100%;
	font-size: 16px;
}
.tourPrice{
	font-size: 16px;
	color: #F0455C;
	
}
.tourPrice del{
	font-size: 12px;
	color: #999;
	display: inline-block;
	margin-left: 3vw;
}
.progress{
	width: 100%;
	height: 1vw;
	background: #eee;
	border-radius: 30px;
	margin: 2vw 0;
}
.progress div{
	width: 60%;
	height: 100%;
	border-radius: 30%;
	background: linear-gradient(to right, #e05480 , #ff0071);
}
.tourHistory{
	font-size: 12px;
	color: #999;
}
.tourList{
	width: 100%;
	padding: 3vw 3%;
	border-bottom: 1px solid #eee;
}
.tourList>div{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 13px;
}
.tourList>div img{
	width: 12vw;
	height: 12vw;
	border-radius: 50%;
	box-shadow: 1px 1px 4px #eee;
	margin-right: 4vw;
}
.tourList>div div{
	display: flex;
	align-items: center;
	color: #F14426;
}
.tourList .tourNow{
	width: 23vw;
	height: 9vw;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 3px;
	background: linear-gradient(to right, #e05480 , #ff0071);
}
.shopTop{
	width: 100%;
	padding: 3vw 20%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #eee;
}
.shopTop>div{
	width: 25vw;
	height: 8vw;
	font-size: 14px;
	color: #333;
	display: flex;
	align-items: center;
	justify-content: center;
	
}
.shopActive{
	position: relative;
}
.shopActive:after{
	width: 15vw;
	height: 2px;
	background: #FF000F;
	position: absolute;
	top: 10vw;
	left: 5vw;
	content: '';
}
.shopContent{
	width: 100%;
	padding: 2vw 3%;
}
.shopLists{
	width: 100%;
	padding: 3vw 0;
	border-bottom: 1px solid #eee;
}
.shopLists>div{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.shopLists>div>div{
	display: flex;
	align-items: center;
	font-size: 15px;
}
.shopLists>div>div img{
	width: 12vw;
	height: 12vw;
	border-radius: 50%;
	margin-right: 3vw;
}
.shopListsTime{
	font-size: 12px;
	color: #999;
}
.shopText{
	font-size: 14px;
	margin: 2vw 0;
	color: #333;
}
.shopLists img{
	width: 40vw;
	margin-right: 2vw;
	margin-top: 1vw;
}
.shopDetailImg{
	width: 100%;
	margin-top: 2vw;
}
.bottomTour{
	width: 100%;
	height: 12vw;
	background: #fff;
	border-top: 1px solid #eee;
	padding: 1vw 5%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	position: fixed;
	bottom: 0;
	z-index: 100;
}
.bottomTour div{
	width: 24vw;
	height: 9vw;
	background: linear-gradient(to right, #e05480 , #ff0071);
	color: #fff;
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
}